@import url("https://fonts.googleapis.com/css?family=PT+Serif:700");
#all-recipe-container {
  display: flex;
  flex-direction: column;
  font-family: 'PT Serif', serif;
  overflow-y: scroll;
  height: 100vh; }

.recipe-card-container {
  min-width: 558px;
  max-width: 558px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #58625E;
  padding: 10px;
  color: #dfd5c3; }

article {
  height: 88px;
  overflow-y: hidden; }

.active-recipe {
  height: fit-content; }

.recipe-details {
  display: flex;
  flex-direction: row; }

.name-hearts {
  display: flex;
  flex-direction: column; }

.recipe-name,
.recipe-hearts {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 20px; }

.recipe-hearts img {
  margin-right: 10px;
  width: 25px;
  height: 20px; }

.recipe-type {
  margin-top: 5px;
  padding-left: 10px;
  margin-left: auto; }

img {
  width: 80px;
  height: 80px;
  opacity: 1; }

.resale {
  display: flex;
  flex-direction: row; }

.resale img {
  width: 15px;
  height: 24px;
  opacity: 1; }

.resale p {
  margin: 3px;
  padding-left: 7px; }

.ingredients,
.recipe-specific-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
