@import url('https://fonts.googleapis.com/css?family=PT+Serif:700');

#all-recipe-container {
  display: flex;
  flex-direction: column;
  font-family: 'PT Serif', serif;
  overflow-y: scroll;
  height: 100vh;
}

.recipe-card-container {
  min-width: 558px;  
  max-width: 558px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgba(88,98,94,.75);
  padding: 10px;
  color: rgb(223, 213, 195);
  position: relative;
}

article {
  height: 88px;
  overflow-y: hidden
}

.active-recipe {
  height: fit-content;
}

.recipe-details {
  display: flex;
  flex-direction: row;
}

.name-hearts {
  display: flex;
  flex-direction: column;
}

.recipe-name,
.recipe-hearts {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.recipe-hearts {
  display: grid; 
  grid-template-columns: 35px 1fr;
}

.recipe-hearts img {
  align-self: center;
  margin-right: 10px;
  width: 25px;
  height: 20px;
}

#targetHeart {
  align-self: start;
}

.recipe-type {
  margin-top: 5px;
  padding-left: 10px;
  margin-left: auto;
}

img {
  width: 80px;
  height: 80px;
}

.resale {
  display: flex;
  flex-direction: row;
}

.resale img {
  width: 15px;
  height: 24px;
}

.resale p {
  margin: 3px;
  padding-left: 7px;
}

.ingredients,
.recipe-specific-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.type_image {
  height: 30px;
  width: 30px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 10px
}