@import url("https://fonts.googleapis.com/css?family=PT+Serif:700");
#all-recipe-container {
  display: flex;
  flex-direction: column;
  font-family: 'PT Serif', serif;
  overflow-y: scroll;
  height: 100vh; }

.recipe-card-container {
  font-family: fantasy, 'sans-serif';
  letter-spacing: 1px;
  width: 558px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgba(88, 98, 94, 0.75);
  padding: 10px;
  color: #dfd5c3;
  position: relative; }

article {
  height: 111px;
  overflow-y: hidden; }

.ingredient img {
  border: 1px solid rgba(88, 98, 94, 0.75);
  display: block;
  margin: auto; }

.ingredient {
  text-align: center;
  width: 100px; }

.ingredients h3 {
  font-size: 20px;
  margin: 10px 20px; }

.ingredients {
  padding-top: 33px; }

.active-recipe {
  height: fit-content; }
  .active-recipe .ingredients {
    padding-top: 0px; }

.recipe-details {
  display: flex;
  flex-direction: row; }

.name-hearts {
  display: flex;
  flex-direction: column; }

.recipe-name,
.recipe-hearts {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 20px; }

.recipe-hearts {
  align-items: start;
  display: grid;
  height: 20px;
  grid-template-columns: 35px auto 40px auto;
  width: fit-content; }

.recipe-hearts p {
  margin: 0; }

#green-rupee {
  padding-left: 15px;
  width: 30px; }

.recipe-hearts img {
  width: 25px;
  height: 20px; }

.recipe-notes {
  margin-left: 10px;
  padding-top: 12px; }

.recipe-type {
  margin-top: 5px;
  padding-left: 10px;
  margin-left: auto; }

img {
  width: 80px;
  height: 80px; }

.ingredients,
.recipe-specific-details {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  justify-content: center; }

.strength,
.duration {
  margin-bottom: 0;
  padding: 0 15px; }

.type_image {
  height: 30px;
  width: 30px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 10px; }
