.SearchBar {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin: 20px auto;
  width: fit-content; }

.search-bar {
  font-size: 1.5em;
  width: 300px;
  border: 1px solid black;
  height: 33px;
  padding-left: 5px; }

.search-bar__ingredient {
  display: inline-block;
  position: relative; }

.search-bar--hidden {
  display: none; }

.search-button {
  width: 130px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5em;
  background-color: lightgray;
  color: gray; }

.search-button--selected {
  background-color: white;
  color: black; }

.submit-button {
  font-size: 1.5em;
  border: 1px solid black; }

.search-results__container {
  width: 300px;
  border: 1px solid black;
  display: none;
  position: absolute; }

.search-results__containter--show {
  display: block; }

.search-results__item {
  margin: 0;
  padding: 20px; }
  .search-results__item:hover {
    background-color: gray;
    font-weight: bold; }
