@import url("https://fonts.googleapis.com/css?family=PT+Serif:700");

$header-bacground: rgb(28,55,68);

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 340px auto;
}

.sidebar {
  background: linear-gradient(to bottom, #1c3744 25%, rgba(221,208,182,.75));
  min-height: 100vh;
  padding: 20px;
}

#small-zelda-header {
  background-image: url('../../assets/small-zelda-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $header-bacground;
  
  box-shadow: 0 0 20px 10px $header-bacground;
  margin: auto;
  height: 194px;
  width: 253px;
}

#search-container {
  align-items: stretch;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 80% auto;
  grid-template-rows: 1fr;
}

#dropDown {
  grid-row-start: 2;
  justify-self: stretch;
}

body {
  background-image: url('../../assets/floral-old-paper-or-parchment.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
